<form action="{:U('save?cycleid='. I('get.cycleid') .'&p=' . I('get.p'))}" method="post">
	<div class="row">
        <div class="col-md-3 form-group">
            <div class="input-group">
               <input class="form-control" type="hidden" name="id" value="{$task['id']}" />
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-3 form-group">
            <div class="input-group">
            	<label>教工：	</label>
               	<h5><php>$UserW = new User\Widget\UserWidget(); $UserW->getNameByIdAction($task['user_id']); </php></h5>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-3 form-group">
            <div class="input-group">
            	<label>考核周期：</label>
               	<h5><php>$CycleW = new Cycle\Widget\CycleWidget(); echo $CycleW->getNameByIdAction($task['cycle_id']);</php></h5>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-3 form-group">
            <div class="input-group">
            	<label>任务量</label>
               	<h5><input class="form-control" name="value" type="text" value="{$task['value']}"></h5>
            </div>
        </div>
    </div>
	
	<button class="btn btn-primary" type="submit">确定</button>
</form>
