<section class="content">
    <div class="row">
        <div class="col-xs-12">
	        <div class="box-body table-responsive">
	            <div class="panel-body">
	            	<div class="row">  
	                    <div class="col-md-2 col-xs-4">
							<select class="select2" id="cycle">
								<foreach name="cycles" item="cycle">
									<option value="{$cycle[id]}" <eq name="cycle['id']" value="$cycleId">selected="selected"</eq>>{$cycle['name']}</option>
								</foreach>
							</select>
						</div>
						<div class="col-md-2 col-xs-4">
							<a href="{:U('editAll?p=' . I('get.p') . '&cycleid=' . $cycleId)}" class="btn btn-primary">批量添加/编辑</a>
						</div>
					</div>
				</div>
                <table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>姓名</th>
							<th>任务量</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="userTasks" item="userTask">
							<tr>
								<td>{++$i}</td>
								<td>{$userTask['name']}</td>
								<td>{$userTask['value']}</td>
								<td><a class="btn btn-sm btn-primary" href="{:U('edit?id='. $userTask['task_id'] . '&cycleid='. $cycleId .'&p=' . I('get.p'))}"><i class="fa fa-pencil"></i>编辑</a>&nbsp;&nbsp;<a class="btn btn-sm btn-danger delete" href="{:U('delete?id='. $userTask['task_id'] . '&cycleid='. $cycleId .'&p=' . I('get.p'))}"><i class="fa fa-trash-o "></i>删除</a></td>
							</tr>
						</foreach>
					</tbody>
				</table>
				<yunzhi:page totalCount="totalCount"></yunzhi:page>
			</div>
		</div>
	</div>
</section>
{$js}