<section class="content-header">
    <h1>
        菜单管理
        <small>添加根菜单</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{:U('index')}">菜单管理</a></li>
        <li class="active">添加根菜单</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">{$title}</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="panel-body">
                    <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{:U('save')}" method = 'post'>
                        <div style="display:none">
                            <input name="edit" value="{$data.edit}">
                            <input name="id" value="{$data.id}">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="title" value="{$data.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">副标题</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="subhead" value="{$data.subhead}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">上级菜单</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="inputEmail3" name="parent_id" value="<php>
                                       if($data['edit'] == null || $data['edit'] == '')
                                        echo $data['id'];
                                    else
                                        echo $value['parent_id'];</php>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">小图标</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="icon" value="{$data.icon}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">模块名</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="module" value="{$data.module}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">控制器名</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="controller" value="{$data.controller}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">方法名</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="action" value="{$data.action}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-4">
                            <input class="form-control" id="inputEmail3" name="order" value="{$data.order}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4">
                                <div class="col-md-6 form-group">
                                    <select class="selectpicker form-control">
                                        <option>启用</option>
                                        <option>禁用</option>
                                    </select><!-- /.input group -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">是否显示</label>
                            <div class="col-sm-4">
                            <div class="col-md-6 form-group">
                                <select class="selectpicker form-control">
                                    <option>是</option>
                                    <option>否</option>
                                </select><!-- /.input group -->
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">是否开发模式</label>
                            <div class="col-sm-4">
                                <div class="col-md-6 form-group">
                                    <select class="selectpicker form-control">
                                        <option>是</option>
                                        <option>否</option>
                                    </select><!-- /.input group -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-4">
                            <textarea class="form-control" rows="3" name="remarks" >{$data.remark}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-open"></i>确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
