<block name="footer">
 <!-- jQuery -->
 <script src="__JS__/jquery.min.js"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="__JS__/bootstrap.min.js"></script>

 <!-- Metis Menu Plugin JavaScript -->
 <script src="__JS__/metisMenu.min.js"></script>

 <!-- Morris Charts JavaScript -->
 <script src="__JS__/raphael-min.js"></script>
 <script src="__JS__/morris.min.js"></script>
 <script src="__JS__/morris-data.js"></script>

 <!-- Custom Theme JavaScript -->
 <script src="__JS__/sb-admin-2.js"></script>
 <block name="js"></block>
 </block>