<block name="footer">
 

 <!-- Bootstrap Core JavaScript -->
 <script src="__JS__/bootstrap.min.js"></script>

 <!-- Metis Menu Plugin JavaScript -->
 <script src="__JS__/metisMenu.min.js"></script>

 <!-- Morris Charts JavaScript -->
 <script src="__JS__/raphael-min.js"></script>
  <!-- Custom Theme JavaScript -->
 <script src="__JS__/sb-admin-2.js"></script>
 <script src="__JS__/jquery.validate.js"></script>
 <script src="__JS__/handlebars-v4.0.2.js"></script>
 <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
 <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
 <!--select2插件 -->
<link href="__CSS__/select2/select2.min.css
" rel="stylesheet">
<!-- select2 js -->
<script src="__JS__/select2/select2.min.js"></script>
<!--自定义的JS，放在最后引用-->
 <script src="__JS__/yunzhi.js" charset="UTF-8"></script>
 </block>