    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <block name="title"><title>经管学院绩效工资管理系统--POWER BY:梦云智</title></block>

    <!-- Bootstrap Core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__CSS__/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="__CSS__/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="__CSS__/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/errorClass.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/admin.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/alertify.core.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/alertify.default.css" rel="stylesheet" type="text/css">
    
    
    <!-- jQuery -->
 <script src="__JS__/jquery.min.js"></script>