<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src='{:add_root_path("/img/avatar3.png")}' class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>{$leftMenu[0]['title']}</p>

                <a href="#"><i class="fa fa-circle text-success"></i>在线</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        
        <ul class="sidebar-menu">
            <foreach name="leftMenu" item="value" key="key">
            <li class="treeview">
                <a href="{:U($value[url])}">
                    <i class="$value.class"></i>
                    <span>{$value.title}</span>
                    <gt name="value._son" value="null"><i class="fa fa-angle-left pull-right"></i></gt>
                </a>
                <ul class="treeview-menu">
                    <foreach name="value._son" item="val" key="key">
                    <li><a href="{:U($val[url])}"><i class="fa fa-angle-double-right"></i>{$val.title}</a></li>
                    </foreach>
                </ul>
            </li>
            </foreach>
        </ul>
        
    </section>
    <!-- /.sidebar -->
</aside>
