<section class="content-header">
    <h1>
        通知公告
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">通知公告</a></li>
        <li class="active">系统通知</li>
    </ol>
</section>
<section class="content connectedSortable">
    <div class="row">
        <div class="col-md-6 connectedSortable">
            <div class="box box-info">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">系统通知</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="todo-list">
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-envelope"></i>
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">通知通知通知...通知   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="col-md-6 connectedSortable">
            <div class="box box-info">
                    <div class="box-header">
                        
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">公告信息</h3>
                        <div class="box-tools pull-right">
                            <ul class="pagination pagination-sm inline">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="todo-list">
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-map-marker"></i> 
                                </span>  
                                <!-- todo text -->
                                <span class="text"><a href="#">公告公告公告...公告   </a></span>
                                <!-- Emphasis label -->
                                <small class="label label-success pull-right"><i class="fa fa-clock-o"></i> 2015/7/2</small>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</section>