<section class="content-header">
    <h1>学科业绩<small>研究生教学</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>学科业绩</a></li>
        <li class="active">研究生教学</li>
    </ol>
</section>
<div class="container">
<div class="row box box-primary">
    <div class="col-md-12 box-header">
        <i class="fa fa-inbox"></i>
        <h3 class="box-title">研究生教学</h3>
    </div><!-- /.box-header -->
    <div class="col-md-12 box-body">
        <!-- Date range -->
        <div class="row">
            <div class="col-md-3 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">课程名称</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">人数</span>
                    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">班数</span>
            <select class="selectpicker form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row"> 
            <div class="col-md-3 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">课程类型</span>
            <select class="selectpicker form-control">
                    <option>公共课</option>
                    <option>专业课</option>
            </select>
            </div>
            </div> 
        </div>
        <div class="row"> 
            <div class="col-md-3 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">研究生参加期末考试班数</span>
                <select class="selectpicker form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3"><a href="" class="btn btn-primary" ><i class="glyphicon glyphicon-saved"></i>保存</a></div>
            <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="glyphicon glyphicon-repeat"></i>重置</a></div>
        </div>
    </div>
    </div>
</div>


