<section class="content">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa fa-list-ol fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$_UserTodoCount}</div>
                            <div>待办工作</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('Myjob/Index/unfinished')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bookmark fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$totalDoneScore}</div>
                            <div>教科研得分</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('ScientificResearch/ScientificResearch/index')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt  fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$totalScore}</div>
                            <div>教科研预期得分</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('ScientificResearch/ScientificResearch/index')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{$task}<sup style="font-size: 20px"></sup></div>
                            <div>教科研任务</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('ScientificResearch/ScientificResearch/index')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!--以下几个显示百分比的小转盘-->
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>教科研业绩
                </div>
                <div class="panel-body">
                    <div class="col-md-3 col-xs-3">
                        <div class="well-chart"><div id="ScientificResearchDone"></div></div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="well-chart"><div id="ScientificResearch"></div></div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="well-chart"><div id="TeachingLoad"></div></div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="well-chart"><div id="ServiceEducation"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
{$js}
{$css}
