
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">4</div>
                            <div>我的审批</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('Myjob/Index/index')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">800</div>
                            <div>已得分</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('ScientificResearch/Index/audited')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">1200</div>
                            <div>预期得分</div>
                        </div>
                    </div>
                </div>
                <a href="{:U('ScientificResearch/Index/saved')}">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">66<sup style="font-size: 20px">%</sup></div>
                            <div>完成率</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">更多信息</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
            <div class="col-xs-4 connectedSortable">
                 
            </div><!-- /.col -->
    </div>
    
    <div class="row">
        <section class="col-md-12 connectedSortable"> 
            <!-- Box (with bar chart) -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 绩效总览
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <a href="#" class="btn btn-default btn-block">查看更多</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </section>           
    </div>
</section>
{$css}
{$js}