<script type="text/javascript">
    $(function(){
        // 自定义日期插件
        $('.datetime').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,       //默认视图。1-hour, 2－month.
            minView: 2,         //默认提供的最精确的视图 1-day
            maxView: 4,         //向上点选时，最多能提供前后5年的选择
            forceParse: 0,
            format: 'yyyy-mm-dd hh:00'
        });
    });
</script>