    <block name="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <block name="title"><title>SB Admin 2 - Bootstrap Admin Theme</title></block>

    <!-- Bootstrap Core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__CSS__/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="__CSS__/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__CSS__/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="__CSS__/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" type="text/css">
    <block name="css"></block>
    </block>
