<section class="content-header">
                    <h1>
                        审批流程
                        <small>审批流程管理</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li><a href="#">审批流程管理</a></li>
                        <li class="active">审批流程</li>
                    </ol>
</section>                
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="row">  
                    <div class="col-lg-2">
                        <a href="{:U('Examine/Index/newexamine')}" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-plus"></i>添加审批流程</a>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="unread">
                                    <td class="id">序号</td>
                                    <td class="name">审批流名称</td>
                                    <td class="name">审批详情</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="id">1</td>
                                    <td class="name">科研项目审批流</td>
                                    <td class="name">系主任&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;科研秘书&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;院长</td>
                                </tr>
                                <tr>
                                    <td class="id">2</td>
                                    <td class="name">科研项目审批流</td>
                                    <td class="name">系主任&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;科研秘书&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;院长</td>
                                </tr>
                                 <tr>
                                    <td class="id">3</td>
                                    <td class="name">科研项目审批流</td>
                                    <td class="name">系主任&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;科研秘书&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;院长</td>
                                </tr>
                                <tr>
                                    <td class="id">4</td>
                                    <td class="name">科研项目审批流</td>
                                    <td class="name">系主任&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;科研秘书&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;院长</td>
                                </tr>
                                 <tr>
                                    <td class="id">5</td>
                                    <td class="name">科研项目审批流</td>
                                    <td class="name">系主任&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;科研秘书&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>&nbsp;院长</td>
                                </tr>
                            </tbody>
                        </table>
                         <nav style="text-align: center">
                                                <ul class="pagination">
                                                  <li>
                                                    <a href="#" aria-label="Previous">
                                                      <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                  </li>
                                                  <li><a href="#">1</a></li>
                                                  <li><a href="#">2</a></li>
                                                  <li><a href="#">3</a></li>
                                                  <li><a href="#">4</a></li>
                                                  <li><a href="#">5</a></li>
                                                  <li>
                                                    <a href="#" aria-label="Next">
                                                      <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                  </li>
                                                </ul>
                                              </nav>
                    </div>
            </div>
        </div><!--col2-->
    </div>

    <div class="box-footer clearfix">
        <div class="pull-right">
        </div>
    </div><!-- box-footer -->
</section><!-- /.content -->