
<script>
    // 系统是否开放
    var isSystemOpen = {:boolean_to_string($System->checkSystemIsOpen())};

    $(document).ready(function(){

        // 系统处于关闭状态，则隐藏form表单
        if (!isSystemOpen) {
            $("#systemColseInfo").show();
            $("#loginform").hide();
        }

        $("#loginform").validate({
            rules:{
                username:{
                    required:true,
                    minlength:2,
                    maxlength:30
                },
               password:{
                    required:true,
                    minlength:2,
                    maxlength:30
               }
            }
        })
        $("#login").click(function(){
            login();
        });
        $(document).on('keyup',function(e){
            if(e.keyCode === 13){
                login();
            }
        });

        // 注册 显示登陆表单 事件
        $("#showForm").on('click', function(){
            $("#systemColseInfo").hide();
            $("#loginform").show();
        })
    });

    var login = function()
    {
        var username=document.getElementById("username").value;
        if(username.length < 4 || username.length > 20)
        {
            alertify.error("用户名长度需要介于4至20位之间");
            $("#username").focus();
            return false;
        }
        console.log(username);
        var password=document.getElementById("password").value;
        if(password.length < 6 || username.length > 20 )
        {
            alertify.error("密码长度需要介于6至20位之间");
            $("#password").focus();
            return false;
        }
        var remember=$("#remember").is(':checked');
        $.post(
            "{:U('Login/Index/checkAjax')}",
            {
                username:username,
                password:password,
                remember:remember
            },
            function(data){
                if(data.state == "error"){    
                    alertify.error(data.msg);
                    $("#password").focus();
                    return false;
                }else
                {
                    alertify.success("登陆成功,正在为您跳转")
                    location = "{:U('Admin/Index/index')}";
                }
            }
        ); 
    };

    //为ajax增加showloading
    loadingShowDefaults = {
        'position': "right",        // right | inside | overlay
        'text': "加载中，请稍后...",                 // Text to display next to the loader
        'class': "icon-refresh",    // loader CSS class
        'tpl': '<div style="text-align:center;padding-top:240px;color:#ffffff" class="isloading-wrapper %wrapper%">%text%<i class="%class% icon-spin"></i></div>',
        'disableSource': true,      // true | false
        'disableOthers': []
    };

    //ajax开始
    $(document).ajaxStart(function(){
        $.isLoading(loadingShowDefaults);
    });
    //ajax结束
    $(document).ajaxStop(function(){
        $.isLoading('hide');
    });
</script>

