
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="user-panel row col-md-offset-1">
                        <div class="pull-left image">
                            <img src='{:add_root_path("/img/avatar3.png")}' class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info name">
                            <p>{$info.name}</p>
                        </div>
                    </div>
                    <div class="row col-md-offset-1">
                        <div class="col-md-6 ">
                                <foreach name="lists" item="value" key ="k">
                                    <eq name="k" value="0">
                                    <div class="row ">
                                        <h4>职位：
                                                {$value.department_name}[{$value.post_name}]
                                        </h4>
                                    </div>
                                    <else/>
                                    <div class="row ">
                                        <h4>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$value.department_name}[{$value.post_name}]
                                        </h4>
                                    </div>
                                    </eq>
                                </foreach>
                            <div class="row">
                                <h4>角色：{$role}</h4>
                            </div>
                        <form id="personalCenter" class="form-horizontal" method = 'post' action="{:U('User/Index/changeUserInfo')}?id={$info.id}">
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱</span>
                                    <input  class="form-control" name="email" value="{$info.email}">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">手&nbsp&nbsp机&nbsp&nbsp&nbsp号</span>
                                    <input  class="form-control" name="phone" value="{$info.phone}">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">旧&nbsp&nbsp密&nbsp&nbsp&nbsp码</span>
                                    <input  class="form-control" name="oldpsw" >
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">新&nbsp&nbsp密&nbsp&nbsp&nbsp码</span>
                                    <input  class="form-control" name="newpsw">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">确认密码</span>
                                    <input  class="form-control" name="againpsw">
                                </div>
                            </div>
                            <div class="col-md-offset-4"><button type="submit" class="btn btn-primary" ><i class="fa fa-check"></i>保存</button></div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{$css}
{$js}

