
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="user-panel row col-md-offset-1">
                        <div class="pull-left image">
                            <img src='{:add_root_path("/img/avatar3.png")}' class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info name">
                            <p>王小红</p>
                        </div>
                    </div>
                    <div class="row col-md-offset-1">
                        <div class="col-md-4 ">
                            <div class="row ">
                                <h4>岗位：教师</h4>
                            </div>
                            <div class="row ">
                                <h4>部门：计算机系</h4>
                            </div>
                            <div class="row">
                                <h4>角色：普通教师</h4>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">手&nbsp&nbsp机&nbsp&nbsp&nbsp号</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">旧&nbsp&nbsp密&nbsp&nbsp&nbsp码</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">新&nbsp&nbsp密&nbsp&nbsp&nbsp码</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row hang ">
                                <div class="input-group">
                                    <span class="input-group-addon">确认密码</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-offset-4"><a href="" class="btn btn-primary" ><i class="fa fa-check"></i>保存</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{$css}

