<div class="container">
    <div class="row box box-primary">
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save')}" method = 'post'>
                <div style="display:none">
                    <!-- <input id="" name="" value="0"> -->
                    {:$url=U('append');}
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span id="next_examiner" class="input-group-addon">项目类别</span>
                            <select name="project_category_id" id="projectCategory" class="selectpicker form-control select2">
                                <option>请选择</option>
                                <foreach name="project" item="project">
                                    <option value="{$project.id}"><php>for($j = 0 ; $j < $project[_level] ; $j++ ) : echo "|--"; endfor;</php><neq name="project[data_model_id]" value="0">[{$project.name}]<else/>{$project.name}</neq></option>
                                </foreach>
                            </select><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">名称</span>
                            <input type="text" name="title" value="" class="form-control" placeholder="" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div id="dataModelDetail"></div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">请选择审核流程</span>
                            <select name="chain_id" id="chain_id" class="selectpicker form-control">
                               <option value="0">请选择</option>
                               <foreach name="examineLists" item="value">
                                   <option value="{$value[id]}">{$value[name]}</option></foreach>
                               </select>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span id="next_examiner" class="input-group-addon">选择审核人</span>
                            <select class="selectpicker form-control select2">
                                <option>请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row team">
                   <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span id="next_examiner" class="input-group-addon">团队人员姓名</span>
                        <select name="name[]" value="" class="selectpicker form-control select2">
                            <option>请选择</option>

                            <foreach name="name" item="value" key="key">
                                <option value="{$value.id}">{$value.name}</option>
                            </foreach>

                        </select>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                        <input name="score_percent[]" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-1"><span id="plus" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='';" class="input-group-addon btn"><span class="glyphicon glyphicon-plus"></span></span></div>
                <div class="col-md-1"><span id="minus" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='';"  class="input-group-addon btn"><span class="glyphicon glyphicon-minus"></span></span></div>
            </div>
            <!-- <div class="col-md-3 form-group">
                <div class="input-group  date form_date" data-date="" data-date-format="" data-link-field="dtp_input2"  data-link-format="yyyy-mm-dd">
                    <span class="input-group-addon">发表时间</span>
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
            </div> -->
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><button type="submit" class="btn btn-success"><i class="fa fa-check "></i>保存</button></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="fa fa-repeat "></i>重置</a></div>
            </div>
        </form>
    </div>
</div>
</div>
<script> 

//增加团队人数
var data = "<div class='row team'><div class='col-md-3 form-group'><div class='input-group'><span class='input-group-addon'>团队人员姓名</span><select name='name[]' class='selectpicker form-control select2'><option>请选择</option><foreach name='name' item='value' key='key'><option value='{$value.id}'>{$value.name}</option></foreach></select></div></div><div class='col-md-3 form-group'><div class='input-group'><span class='input-group-addon' id='basic-addon1'>团队分数占比</span><input name='score_percent[]' type='text' class='form-control' aria-describedby='basic-addon1'></div></div></div>";
$("#plus").click(function(){
    $(".team:last").after(data);
    $(".select2").select2();

});
//减少团队人数
$("#minus").click(function(){
    $(".team:gt(0):last").remove();
});

    //使用on事件,将整个document做为选择器.
    //注意,在这里的选择器,必须是已经存在的,不能是后期生成的.
    //.project做为document的子元素出现,绑定了change事件.等同于onChange 
    //实现点击后进行数据模型的设置
    
    $(document).on("change","#projectCategory",function(){
        get_project_category_id_select($(this));
    });

    var get_project_category_id_select = function($this){
        var projectCategoryId = $this.children('option:selected').val();//获取点击select下拉菜单的idis
        console.log(projectCategoryId);
        if(projectCategoryId == '0')
        {
            $("#dataModelDetail").html("");
            console.log(projectCategoryId);
        }
        else
        {
            var url = "{:U('dataModelDetailAjax')}"+"?projectCategoryId="+projectCategoryId;
            $.get(
                url,
                function(data){
                    if(data.status==='success'){
                     $("#dataModelDetail").html(data.message);
                     dataInit();
                    console.log(data);   
                    }
                    
                }
            );
        }
    };
    //防刷新设置
    get_project_category_id_select($("#projectCategory"));

   
    /*
    用户选择审核流程后，后台取数据.
    最终让用户选择：下一审核人。
    panjie 
    */
    $(document).on("change","#chain_id",function(){
        var chain_id = $(this).children('option:selected').val();
        console.log(chain_id);
        var url = "{:U('examine/Index/getExamineUsers')}" + "?name=examine_id&id=" + chain_id;
        console.log(url);
        $.get(
            url,
            function(data,state)
            {
                if(!state)
                {
                    return;
                    console.log("未能在指定的时间内返回数据或未GET到URL");
                }

                //todo:写调用action返回值，然后将返回值添加到 下一审核人：type=radio
                if(data.state == "success")
                {
                    $("#next_examiner").html(data.html);
                    console.log(data.html);
                }
                else
                {
                    $("#next_examiner").html("");
                    console.log(data.message);
                }
            });
    });

</script>