<div class="container">
    <div class="row box box-primary">
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save')}" method = 'post'  id="demoForm">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span class="input-group-addon">项目类别</span>
                            <select name="project_category_id" id="projectCategory" class="selectpicker form-control select2">
                                <option value="0">请选择</option>
                                <foreach name="project" item="project">
                                    <option data-type="<neq name="project[data_model_id]" value="0">category</neq>" value="{$project.id}"><php>for($j = 0 ; $j < $project[_level] ; $j++ ) : echo "|--"; endfor;</php><neq name="project[data_model_id]" value="0">[{$project.name}]<else/>{$project.name}</neq></option>
                                </foreach>
                            </select><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">名称</span>
                            <input type="text" id="title" name="title" value="" class="form-control"  aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div id="dataModelDetail"></div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">请选择审核流程</span>
                            <select name="examine_id" id="examine_id" class="selectpicker form-control">
                               <option value="0">请选择</option>
                               <foreach name="examineLists" item="value">
                                   <option value="{$value[id]}">{$value[name]}</option></foreach>
                               </select>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                    <div class="col-md-3 form-group">
                        <div id="next_examiner" class="input-group">
                           
                        </div>
                    </div>
                </div>
                <div id="is_team" style="display:none">
                <div class="row team">
                   <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">团队人员姓名</span>
                        <select name="name[]" class="selectpicker form-control select2">
                            <option value="0">请选择</option>
                            <foreach name="name" item="value" key="key">
                                <option value="{$value.id}">{$value.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                        <input name="score_percent[]" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-1"><span id="plus" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='';" class="input-group-addon btn"><span class="glyphicon glyphicon-plus"></span></span></div>
                <div class="col-md-1"><span id="minus" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='';"  class="input-group-addon btn"><span class="glyphicon glyphicon-minus"></span></span></div>
            </div></div>
            <!-- <div class="col-md-3 form-group">
                <div class="input-group  date form_date" data-date="" data-date-format="" data-link-field="dtp_input2"  data-link-format="yyyy-mm-dd">
                    <span class="input-group-addon">发表时间</span>
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
            </div> -->
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><a id="submit" href="javascript:void(0);" class="btn btn-success disabled"><i class="fa fa-check "></i>确认</a></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="fa fa-repeat "></i>重置</a></div>
            </div>
        </form>
    </div>
</div>
</div>
{$js}