<div class="row team">
    <div class="col-md-3 form-group">
        <div class="input-group">
            <span class="input-group-addon">团队人员姓名</span>
            <select name="name[]" class="selectpicker form-control select2">
                <option value="0">请选择</option>
                <foreach name="name" item="value" key="key">
                    <option value="{$value.id}" <eq name="score['user_id']" value="$value['id']">selected="selected"</eq>>{$value.name}</option>
                </foreach>
            </select>
        </div>
    </div>
    <div class="col-md-3 form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
            <input name="score_percent[]" type="text" value="{$score['score']}" class="form-control" placeholder="" aria-describedby="basic-addon1">
        </div>
    </div>

    <eq name="j" value="0">
        <?php $j++; ?>
        <div class="col-md-1">
            <span id="plus" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='';" class="input-group-addon btn"><span class="glyphicon glyphicon-plus"></span></span>
        </div>
        <div class="col-md-1">
            <span id="minus" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='';"  class="input-group-addon btn"><span class="glyphicon glyphicon-minus"></span></span>
        </div>
    </eq>
</div>