
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">审核意见</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>审核人1</th>
                                <th>审核时间1</th>
                                <th>审核意见1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>王小明</td>
                                <td>2015.07.02</td>
                                <td>完美</td>
                            </tr>
                         </tbody>
                         <thead>
                            <tr>
                                <th>审核人2</th>
                                <th>审核时间2</th>
                                <th>审核意见2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>李小红</td>
                                <td>2015.07.02</td>
                                <td>完美</td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
