<input type="hidden" name="data_model_id" value="{$dataModel[id]}">
<foreach name="dataModelDetailRoots" item="root">
	<div class="col-md-12 form-group">
        <div class="input-group">
		<label class="input-group-addon" for="{$root[name]}">{$root[title]}</label>
			<eq name="root[type]" value="date">
                <input name="{$root[name]}" class="date form-control" size="16" type="text" value="" readonly>
			</eq>
			<eq name="root[type]" value="textarea">
                <textarea name="{$root[name]}"  class="form-control" rows="3"></textarea>
			</eq>
			<eq name="root[type]" value="text">
			<input class="form-control" aria-describedby="basic-addon1" type="text" name="{$root[name]}" id="{$root[name]}" class="{$root['class']}" /></eq>
			<eq name="root[type]" value="money">
			<input class="form-control" aria-describedby="basic-addon1" type="text" name="{$root[name]}" id="{$root[name]}" class="{$root['class']}" /></eq>
			<eq name="root[type]" value="select">
			<select class="selectpicker form-control" name="{$root[name]}" id="{$root[name]}" class="{$root['class']}" >
			<foreach name="dataModelDetailSons[$root[id]]" item="son">
				<option value="{$son[id]}" class="{$son['class']}">{$son.title}</option>
			</foreach>
			</select>
		</eq>
		</div>
		</div>
	</foreach>	