<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">  
                        <div class="col-md-2">
                            <a href="{:U('ScientificResearch/Index/add')}" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-plus"></i>添加教科研项目</a>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类别</th>
                                <th>提交时间</th>
                                <th>状态</th>
                                <th>分值</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name="projects" item="project">
                            <tr>
                                <td>{++$i}</td>
                                <td><a href="{:U("detail?id=". $project[id])}">{$project[title]}</a></td>
                                <td>{:W("ProjectCategory/getParentsDetailStringsById",array($project['project_category_id']))}</td>
                                <td>{$project[time]|date="Y/m/d",###}</td>
                                <td><eq name="project[is_finished]" value="1">已办结<else /><eq name="project[is_commited]" value="1">审核中<else />未提交</eq></eq></td>
                                <td>{:W("Project/getRatioById",array($project[id]))}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <yunzhi:page totalCount="totalCount"></yunzhi:page>
                </div>              
            </div>
        </div>
    </div>
</section>
