<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <a href="{:U('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>添加项目</a>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>类别</th>
                                <th>考核周期</th>
                                <th>申请时间</th>
                                <th>申请人</th>
                                <th>待/在办人</th>
                                <th>分值</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name="projects" item="project">
                            <tr>
                                <td>{++$i}</td>
                                <td><a href="{:U("detail?id=". $project[id])}">{$project[title]}</a></td>
                                <td>{:W("ProjectCategory/getParentsDetailStringsById",array($project['project_category_id']))}</td>
                                <td>{:W('Cycle/getNameById',array($project[cycle_id]))}</td>
                                <td>{$project[time]|date="Y/m/d",###}</td>
                                <td>{:W('User/getNameById',array($project['commit_user_id']))}</td>
                                <td><eq name="project[is_finished]" value="1"><span class="badge">已办结</span><else />{:W('Project/getTodoUserNameByProjectId',array($project[id]))}</eq></td>
                                <td>{:W("Project/getScoreByIdUserId",array($project[id] , $project[user_id]))}</td>
                                <td><?php if($indexM->isEdit($project)) : ?><a class="btn btn-info btn-outline" href="{:U('add?id=' . $project[id] , I('get.'))}"><i class="fa fa-edit"></i>编辑</a>&nbsp;&nbsp;<a class="btn btn-danger btn-outline delete" href="{:U('delete?id=' . $project[id] , I('get.'))}"><i class="fa fa-trash-o"></i>删除</a><?php endif;?></td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <yunzhi:page totalCount="totalCount"></yunzhi:page>
                </div>              
            </div>
        </div>
    </div>
</section>
