
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">已保存项目</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目名称</th>
                                <th>项目类型</th>
                                <th>添加时间</th>
                                <th>分值</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="#">《SCI》</a></td>
                                <td>论文/论文A类/期刊被《SCI》I区收录的论文</td>
                                <td>2015.07.02</td>
                                <td>600</td>
                                <td><a href=""><button class="btn btn-sm btn-primary" ><i class="fa fa-pencil"></i>修改</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                    <a href=""><button class="btn btn-sm btn-success"><i class="glyphicon glyphicon-open"></i>提交</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
