<section class="content-header">
                    <h1>
                        教工模式选择
                        <small>职称管理</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li><a href="#">教科研设置</a></li>
                        <li class="active">职称管理</li>
                    </ol>
</section>      	
<div class="row">
            
<div class="col-md-12">
    <div class="panel panel-default">
        <!-- Default panel contents -->        		
        <form class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教工模式&nbsp;1</h3></div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-3 control-label">二级岗教授(分)</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                        <input type="text" class="form-control" placeholder="30" >
                        </div>
                    </div>
                   <div class="col-md-3"> 
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                        <input type="text" class="form-control" placeholder="140">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-3 control-label">三级岗教授(分)</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                        <input type="text" class="form-control" placeholder="30" >
                        </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                        <input type="text" class="form-control" placeholder="100">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-3 control-label">四级岗教授(分)</label>
                    <div class="col-md-3">
                       <div class="input-group">
                       <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                       <input type="text" class="form-control" placeholder="30" >
                       </div>
                    </div>
                    <div class="col-md-3"> 
                        <div class="input-group">
                       <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                       <input type="text" class="form-control" placeholder="60">
                       </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-3 control-label">五级岗副教授(分)</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                        <input type="text" class="form-control" placeholder="20" >
                        </div>
                    </div>
                    <div class="col-md-3"> 
                         <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                        <input type="text" class="form-control" placeholder="55">
                        </div>
                    </div>
                </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">六级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="20" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="50">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">七级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="20" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="45">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">八级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="30">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">九级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="25">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="20">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十一级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十二级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十三级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="10" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                    <div class="row">
                    <div class="col-md-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教工模式&nbsp;2(类别1)</h3></div><br/>
                        </div>
                    </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">二级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="140">
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">三级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="100">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">四级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="60">
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">五级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="55">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">六级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="50">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">七级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="45">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">八级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="30">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">九级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="25">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="20">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十一级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十二级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十三级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="290" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                     <div class="row">
                    <div class="col-md-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教工模式&nbsp;2(类别2)</h3></div><br/>
                    </div>
                        <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">二级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="140">
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">三级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="100">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">四级岗教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="60">
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">五级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="55">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">六级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="50">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">七级岗副教授(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="45">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">八级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="30">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">九级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="25">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十级岗讲师(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="20">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十一级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                     <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十二级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                <div class="form-group">
                        <label for="inputEmail3" class="col-md-3 control-label">十三级岗助教(分)</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">基础科研工作量</span>
                            <input type="text" class="form-control" placeholder="190" >
                            </div>
                            </div>
                       <div class="col-md-3"> 
                             <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">岗位科研工作量</span>
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                        </div>
                <div class="form-group" align="center">
            <div class="col-md-3 col-md-offset-4" >
                <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</a>
            </div>
            </div >
            <br/>                       
        </form>
    </div>
</div>
