<section class="content-header">
    <h1>
        教科研设置
        <small>教工模块管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">教科研设置</a></li>
        <li class="active">教工模块管理</li>
    </ol>
</section>                
<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="unread">
                                <td class="id">序号</td>
                                <td class="name">教工名称</td>
                                <td class="type">部门</td>
                                <td class="subject">岗位</td>
                                <td class="time">教工模式</td>
                                <td class="job">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td class="id">1</td>
                                <td class="name">张三</td>
                                <td class="type">工商管理系</td>
                                <td class="subject">系主任</td>
                                <td class="subject">教工模式1/二级岗教授</td>
                                <td>
                                    <button id="btnMian" class="btn btn-primary" onclick="location='{:U('select')}'"><i class="glyphicon glyphicon-save"></i>选择教工模式</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav style="text-align: center">
                        <ul class="pagination">
                            <li>
                            <a href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
</section><!-- /.content -->
                