
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                
                <div class="row">  
                    <div class="col-md-2">
                        <a href="{:U('ServiceEducation/Index/add')}" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-plus"></i>添加服务育人业绩</a>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目类别</th>
                                <th>内容</th>
                                <th>学期</th>
                                <th>分值</th>
                                <th>明细</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>学生管理</td>
                                <td>担任两个班的班主任</td>
                                <td>2014.3-2014.7</td>
                                <td>30</td>
                                <td>电子商务121和电子商务122</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>学生管理</td>
                                <td>提供用人单位信息且3个学生签约</td>
                                <td>2014.3-2014.7</td>
                                <td>30</td>
                                <td>张三李四王五</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>教学科研管理公益任务</td>
                                <td>学院年度教学大纲修订</td>
                                <td>2014.3-2014.7</td>
                                <td>100</td>
                                <td>电子商务教学大纲修订</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>其他</td>
                                <td>积极联系校企合作并达成合作协议</td>
                                <td>2014.3-2014.7</td>
                                <td>100</td>
                                <td>与云智团队达成合作协议</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                              <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
