<label>项目名称</label><p>{$project['title']}</p>
<label>提交时间</label><p>{$project['time']|date="Y/m/d",###}</p>
	<label>项目总分</label><p>{$sumScore}</p>
	<label>完成人及得分</label><p>
		<foreach name="scores" item="value">
			<yunzhi:user id="$value['user_id']" name="yunzhiuser">{$yunzhiuser[name]}</yunzhi:user>:{:(int)ceil($value['score_percent']*$sumScore/100)}分<br />
		</foreach>
	</p>
<label>状态</label><p><eq name="workflow['is_finished']" value="0">审核中<else/>已审核</eq></p>
<foreach name="dataModelDetail" item="value">
<eq name="value['pid']" value="0">
	<neq name="value['is_hidden']" value="0">
		<label>{$value[title]}</label>
		<p>
			<eq name="value[type]" value="datatime">
				{$projectDetail[$value[name]]['value']|date="Y/m/d",###}
			</eq>
			<eq name="value[type]" value="money">
				todo:如果类型为ＭＯＮＥＹ，则调用格式化函数。格式化为万元。
				数据结构不好看，请先对projectDetail及dataModelDetail进行jump
			</eq>
			<eq name="value[type]" value="int">
				{$projectDetail[$value[name]]['value']}
			</eq>
			<eq name="value[type]" value="text">
				{$projectDetail[$value[name]]['value']}
			</eq>
		</p>
	</neq>
</eq>
</foreach>
<label>待/在办人：</label><p><yunzhi:user id="$todoList['user_id']" name="yunzhiuser">{$yunzhiuser[name]}</yunzhi:user></p>
<label>处理意见：</label><p>
	<foreach name="workflowLog" item="value">
		{$value['time']|date="Y/m/d H:i",###}&nbsp;<yunzhi:user id="$value['user_id']" name="yunzhiuser">{$yunzhiuser[name]}</yunzhi:user>:{$value['commit']}<br />
	</foreach></p>