
<div class="row ">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <div class="tab-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab">添加教学工作</a></li>
                    <li><a href="#tab_2-2" data-toggle="tab">添加实践教学工作</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1-1">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">课程名称</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">班级数</span>
                                <select class="selectpicker form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">人数</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">重复系数</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">是否为军事理论课</span>
                                <select class="selectpicker form-control">
                                    <option>是</option>
                                    <option>否</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">人数</span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div> 
                </div><!-- tab_1-1 -->
                <div class="tab-pane" id="tab_2-2">
                    <div class="row">
                        <div class="col-md-3 form-group">
                           <select class="selectpicker form-control">    
                            <option>课程设计类</option>
                            <option>毕业实习</option>
                            <option>社会调查类</option>
                            <option>毕业设计（论文）类</option>
                            <option>学年论文</option>
                            <option>教育实习类</option>
                            <option>集中进行的教材教法（含微格教学）</option>
                            <option>技能训练类</option>
                            </select><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div>
                    
                       
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">计划周数</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">班级数</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-md-3 form-group">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">人数</span>
                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    
                </div><!-- tab_2-2 -->
                <div class="row">
                    <div class="col-md-1 col-md-offset-3"><a href="" class="btn btn-primary" ><i class="fa fa-check "></i>保存</a></div>
                    <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="fa fa-repeat "></i>重置</a></div>
                </div>
            </div>          
        </div>           
    </div>         
</div>

