
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">  
                    <div class="col-md-2">
                        <a href="{:U('TeachingLoad/Index/add')}" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-plus"></i>添加教学工作</a>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>类别</th>
                                <th>学期</th>
                                <th>标准工作量</th>
                                <th>超额工作量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>理论课教学工作量</td>
                                <td>2014.3-2014.7</td>
                                <td>240</td>
                                <td>160</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>实践课教学工作量</td>
                                <td>2014.3-2014.7</td>
                                <td>360</td>
                                <td>140</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                              <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
