
<div class="container">
    <div class="row box box-primary">  
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save',I('get.'))}" method = 'post'>
                <neq name="projectDetail" value=""><input type="hidden" value="{$projectDetail[id]}" name="id" /></neq>
                <input name="type" type="hidden" value="{:I('get.type')}" />
                <div class="row select">
                    <div class="col-md-3 form-group">
                     <select class="selectpicker form-control project" name="pid">
                        <option>请选择</option>
                        <foreach name="projectCategory" item="project">
                            <option value="{$project.id}" <php>if($project[id] == I('get.pid')) echo 'selected="selected"';
                            </php>><php>for($j = 0 ; $j < $project[_level] ; $j++ ) : echo "|--"; endfor;</php><neq name="project[data_model_id]" value="0">[{$project.name}]<else/>{$project.name}</neq></option>
                        </foreach>
                    </select><!-- /.input group -->
                </div><!-- /.form group -->
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">名称</span>
                        <input id="name" name="name" value="{$projectDetail.name}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">分值</span>
                        <input type="text" name="score" value="{$projectDetail.score}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">团队项目</span>
                        <select name="is_team" id="is_team" class="selectpicker form-control">
                            <option value="0">否</option>
                            <option value="1" <eq name="projectDetail[is_team]" value="1">selected="selected"</eq>>是</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">数据模型</span>
                        <select name="data_model_id" id="dataModel" class="selectpicker form-control">
                            <option value="0">请选择</option>                            
                            <foreach name="dataModels" item="dataModel">
                                <option value="{$dataModel[id]}" <php>if($projectDetail[data_model_id] == $dataModel[id]) echo 'selected="selected"';</php>>{$dataModel[name]}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div id="dataModelDetail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><button type="submit" class="btn btn-success"><i class="fa fa-check "></i>保存</button></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="fa fa-repeat "></i>重置</a></div>
            </div>
        </form>
    </div>
    
</div>

</div>
{$js}