<section class="content-header">
                    <h1>
                        在办工作
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li><a href="#">我的工作</a></li>
                        <li class="active">在办工作</li>
                    </ol>
</section>                
                <section class="content">
                    <!-- MAILBOX BEGIN -->
                    <div class="mailbox row">
                        <div class="col-xs-12">
                            <div class="box box-solid">
                                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="unread">
                                    <td class="id">序号</td>
                                    <td class="name">项目名称</td>
                                    <td class="type">类型</td>
                                    <td class="subject">提交者</td>
                                    <td class="time">创建时间</td>
                                    <td class="job">正在审批人</td>
                                    <td class="process">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="id">1</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">2</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingprojectdetail')}">《纯智能化经济系统》</a></td>
                                    <td class="type">横向课题</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingprojectdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">3</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                   <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="id">4</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingprojectdetail')}">《纯智能化经济系统》</a></td>
                                    <td class="type">横向课题</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingprojectdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">5</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">6</td>
                                     <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                    <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">7</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                   <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="id">8</td>
                                    <td class="name"><a href="{:U('Myjob/Index/doingprojectdetail')}">《纯智能化经济系统》</a></td>
                                    <td class="type">横向课题</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                   <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingprojectdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="id">9</td>
                                     <td class="name"><a href="{:U('Myjob/Index/doingtaskdetail')}">《智能及其技术》</a></td>
                                    <td class="type">论文</td>
                                    <td class="subject">张三</td>
                                     <td class="subject">2015/6/24 10:47</td>
                                   <td>
                                        李四
                                    </td>
                                    <td>
                                        <a href="{:U('Myjob/Index/doingtaskdetail')}"><button class="btn btn-primary" ><i class="fa fa-pencil"></i>查看</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                                     <nav style="text-align: center">
                                                <ul class="pagination">
                                                  <li>
                                                    <a href="#" aria-label="Previous">
                                                      <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                  </li>
                                                  <li><a href="#">1</a></li>
                                                  <li><a href="#">2</a></li>
                                                  <li><a href="#">3</a></li>
                                                  <li><a href="#">4</a></li>
                                                  <li><a href="#">5</a></li>
                                                  <li>
                                                    <a href="#" aria-label="Next">
                                                      <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                  </li>
                                                </ul>
                                              </nav>
                    </div>
                            </div><!-- /.box -->
                        </div><!-- /.col (MAIN) -->
                    </div>
                    <!-- MAILBOX END -->

                </section><!-- /.content -->