
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-body">
                <a href="{:U('Myjob/Index/finished')}" type="button" class="btn btn-info">&nbsp;返回</a>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">项目名称</label>
                    <h5>《智能机器技术》</h5>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">类型</label>
                    <h5>论文</h5>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">提交者</label>
                    <h5>张三</h5>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">第一作者</label>
                    <h5>李四</h5>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">论文类别</label>
                    <h5>《SCI》Ⅱ区</h5>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">审核建议</label>
                    <p>&nbsp;2015.07.02&nbsp; 16:19 &nbsp;李四同意，予以通过<br/>
                        &nbsp;2015.07.07&nbsp; 10:29 &nbsp;王五同意。予以通过</p>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">审批完成时间</label>
                    <h5>2015/7/7 11:27 </h5>
                </div>
            </form>
        </div>
    </div>
