    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">

         <!-- Default panel contents -->
         <div class="panel-body">
            <form class="form-horizontal" id="detail_form" method="post" action="{:U("save?from=" . I('get.from') . "&p=" . I('get.p') )}">
                <input type="hidden" id="id" name="id" value="{$workflowLog['id']}" />
               {:W('project/getDetailById',array($projectId))}
                <eq name="workflowLog.is_commited" value="0">
                    <eq name="workflowLog.is_shelved" value="0">
                        <include file="taskdetail_suggestion" />
                    <else/>
                        <div class="form-group" align="center"><br/></div>
                        <div class="form-group" align="center">
                            <div class="col-md-3 col-md-offset-4" >
                            <input type="hidden" name="type" value="3" />
                                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i>取消搁置</button>
                            </div>
                        </div>
                    </eq>
                <else/>
                    
                </eq>              
            </form>
        </div>
    </div>
</div>
</div>

