<div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">审核意见</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="3" name="commit">同意</textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3">
        <input type="radio" checked="checked" value="0" name="type" id="baz[1]" >
        <label for="baz[1]" >同意</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input type="radio" value="1" name="type" id="baz[2]" >
        <label for="baz[2]" >退回申请人</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="type" id="baz[3]" value="2">
        <label for="baz[3]"  >搁置</label>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">下一审核人:</label>
    <php>
        if($users === false || ( count($users) == 0 && $chain[next_id] != 0 )) echo "<h5 class='col-sm-8'>对不起，您所在的部门在该流程结点上未找到符合流程要求的审核人。<br />或<br />您近期的部门岗位发生变动，这将导致您不能继续原有流程。</h5>";
        if($chain[next_id] == 0)
        {
        echo "<h5>流程将办结</h5>";
        }
    </php>
    <foreach name="users" item="value">
    <php>$CheckUserW = new Myjob\Widget\UserWidget();
        $checkUser = $CheckUserW->getUserByIdAction($value['user_id']);
    </php>
    <input type="radio" id="user_id_{$checkUser[id]}" name="user_id" value="{$checkUser.id}" /><label for="user_id_{$checkUser[id]}">{$checkUser.name}</label>
    </foreach>
</div>
<div class="form-group" align="center"><br/></div>
<div class="form-group" align="center">
    <div class="col-md-6 col-md-offset-3" >
        <a id="submit" href="javascript:void(0);" class="btn btn-primary"><i class="fa fa-check"></i>完成</a>
    </div>
</div>
<include file="taskdetail_suggestionJs" />
