    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">

         <!-- Default panel contents -->
         <div class="panel-body">
            
            <form class="form-horizontal" id="detail_form" method="post" action="{:U("save?from=" . I('get.from') . "&p=" . I('get.p') )}">
            <input type="hidden" id="id" name="id" value="{$workflowLog['id']}" />
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">项目名称</label>
                    <h5>{$project['title']}</h5>
                </div>		        
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">申请人</label>
                    <h5>{:W("User/GetUserNameById",array($project['user_id']))}</h5>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">审核意见</label>
                    <p class="col-sm-8">
                        <foreach name="workflowLogs" item="value">
                            <eq name="value.is_commited" value="1">
                                &nbsp;{$value[time]|date="Y.m.d H:i",###}&nbsp;{:W("User/GetUserNameById",array($value[user_id]))}：&nbsp;{$value[commit]}<br/>
                            </eq>
                        </foreach>
                    </p>
                </div>
                <eq name="workflowLog.is_commited" value="0">
                    <eq name="workflowLog.is_shelved" value="0">
                        <include file="taskdetail_suggestion" />
                    <else/>
                        <div class="form-group" align="center"><br/></div>
                        <div class="form-group" align="center">
                            <div class="col-md-3 col-md-offset-4" >
                            <input type="hidden" name="type" value="3" />
                                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i>取消搁置</button>
                            </div>
                        </div>
                    </eq>
                <else/>
                    <include file="taskdetail_show" />
                </eq>              
            </form>
        </div>
    </div>
</div>
</div>

