<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
            <!-- {:dump($workflowLogLists)} -->
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="id">序号</th>
                                <th class="name">项目名称</th>
                                <th class="type">项目类别</th>
                                <th>提交人</th>
                                <th class="time">提交时间</th>
                                <th class="">待/在办人</th>
                                <th class="job">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <php>$i=1;</php>
                        <foreach name="workflowLogLists" item="value">
                            <php>$project = W("Project/getListJoinCagegoryByWorkflowId",array($value[workflow_id]));
                            $status=$workflowLists[$value[workflow_id]][is_finished];
                            $projectid=$workflowLists[$value[workflow_id]][project_id];</php>
                            <tr>
                                <td>{$i++}</td>
                                <td>
                                {$project['name']}
                                </td>
                                <td>{$project['project_category_name']}</td>
                                <td>
                                {:W('WorkflowLog/getUserNameById',array($value[pre_id]))}
                                </td>
                                <td>
                                {$value["time"]|date="Y/m/d h:i",###}</td>
                                <td><eq name="status" value="0">{:W('Project/getTodoUserNameByProjectId',array($workflowLists[$value[workflow_id]][project_id]))}<else /><span class="badge">已办结</span></eq></td>
                                <td><a class="btn btn-sm btn-primary" href="{:U("taskDetail?id=$value[id]&from=". ACTION_NAME . "&p=" . I('get.p'))}"><i class="fa fa-pencil"></i>查看</a></td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <yunzhi:page totalcount="totalCount"></yunzhi:page>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->
</section>