<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="id">序号</th>
                                <th class="name">项目名称</th>
                                <th class="type">项目类别</th>
                                <th class="subject">申请人</th>
                                <th>提交人</th>
                                <th class="time">提交时间</th>
                                <th class="job">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <php>$i=1;</php>
                        <foreach name="workflowLogLists" item="value">
                            <tr>
                                <td>{$i++}</td>
                                <td>todo项目名称</td>
                                <td>todo项目类型</td>
                                <td>todo申请人,全部放在project中</td>
                                <td>{$users[$workflowLists[$value[workflow_id]][subscribe_user_id]][name]}</td>
                                <td>{$workflowLists['update_time']|date="Y/m/d h:i",###}</td>
                                <td><a class="btn btn-primary" href="{:U("taskDetail?id=$value[workflow_id]")}"><i class="fa fa-pencil"></i>审批</a></td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->
</section>