<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section class="content-header">
    <h1>教科研设置<small>添加类别</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>教科研设置</a></li>
        <li class="active">添加类别</li>
    </ol>
</section>
<div class="container">
    <div class="row box box-primary">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">添加类别</h3>
        </div><!-- /.box-header -->
        
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save')}" method = 'post'>
                <div style="display:none">
                    <input id="pid" name="pid" value="0">
                </div>
                <div class="row select">
                    <div class="col-md-3 form-group">
                       <select class="selectpicker form-control project">
                        <option>请选择</option>
                        <foreach name="project" item="project">
                            <option data-id="{$project.id}">{$project.name}</option>
                        </foreach>
                    </select><!-- /.input group -->
                </div><!-- /.form group -->
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">名称</span>
                        <input id="name" name="name" value="{$data.name}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">对应分值</span>
                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">审核流程</span>
                        <select class="selectpicker form-control">
                            <option>审核流程一</option>
                            <option>审核流程二</option>
                            <option>审核流程三</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">数据模型</span>
                        <select class="selectpicker form-control">
                            <option>数据模型一</option>
                            <option>数据模型二</option>
                            <option>数据模型三</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><button type="submit" class="btn btn btn-success"><i class="glyphicon glyphicon-open"></i>保存</button></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="glyphicon glyphicon-repeat"></i>重置</a></div>
            </div>
        </form>
    </div>
    
</div>

</div>
<script>       
    //使用on事件,将整个document做为选择器.
    //注意,在这里的选择器,必须是已经存在的,不能是后期生成的.
    //.project做为document的子元素出现,绑定了change事件.等同于onChange 
    $(document).on("change",".project",function(){
    //alert($(this).children('option:selected').attr('data-id'));
    //获取最后一次点击所选的id（作为添加的项目的pid存库）
    //alert($("#pid").attr('value'));
    var url = "{$url}?id=1";
    alert(url);  
    $.get(
        url,
        function(data){
            $(".select:last").append(data);
        }

        );
    }); 


</script>




