
<div class="container">
    <div class="row box box-primary">  
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save')}" method = 'post'>
                <div style="display:none">
                    <input id="pid" name="pid" value="0">
                    {:$url=U('append');}
                </div>
                <div class="row select">
                    <div class="col-md-3 form-group">
                     <select class="selectpicker form-control project">
                        <option>请选择</option>
                        <foreach name="projectCategory" item="project">
                            <option value="{$project.id}"><php>for($j = 0 ; $j < $project[_level] ; $j++ ) : echo "|--"; endfor;</php><neq name="project[data_model_id]" value="0">[{$project.name}]<else/>{$project.name}</neq></option>
                        </foreach>
                    </select><!-- /.input group -->
                </div><!-- /.form group -->
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">名称</span>
                        <input id="name" name="name" value="{$data.name}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">分值</span>
                        <input type="text" name="score" value="{$data.score}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">数据模型</span>
                        <select name="type" id="dataModel" class="selectpicker form-control">
                            <option value="0">请选择</option>                            
                            <foreach name="dataModels" item="dataModel">
                                <option value="{$dataModel[id]}">{$dataModel[name]}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div id="dataModelDetail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><button type="submit" class="btn btn-success"><i class="fa fa-check "></i>保存</button></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="fa fa-repeat "></i>重置</a></div>
            </div>
        </form>
    </div>
    
</div>

</div>
{$js}