<section class="content-header">
    <h1>教科研设置<small>添加类别</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>教科研设置</a></li>
        <li class="active">添加类别</li>
    </ol>
</section>
<div class="container">
    <div class="row box box-primary">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title">添加类别</h3>
        </div><!-- /.box-header -->
        
        <div class="col-md-12 box-body">
            <!-- Date range -->
            <form action="{:U('save')}" method = 'post'>
                <div style="display:none">
                    <input id="pid" name="pid" value="0">
                    {:$url=U('append');}
                </div>
                <div class="row select">
                    <div class="col-md-3 form-group">
                     <select class="selectpicker form-control project">
                        <option>请选择</option>
                        <foreach name="project" item="project">
                            <option value="{$project.id}">{$project.name}</option>
                        </foreach>
                    </select><!-- /.input group -->
                </div><!-- /.form group -->
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">名称</span>
                        <input id="name" name="name" value="{$data.name}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">审核流程</span>
                        <select class="selectpicker form-control">
                            <option>审核流程一</option>
                            <option>审核流程二</option>
                            <option>审核流程三</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">数据模型</span>
                        <select name="type" id="dataModel" class="selectpicker form-control">
                            <option onclick="hide()">请选择</option>
                            <option data-value="tab_1" value="1">数据模型一</option>
                            <option data-value="tab_2" value="2">数据模型二</option>
                            <option data-value="tab_3" value="3">数据模型三</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row tab_1" style=" display:none;">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">分值</span>
                        <input type="text" name="score" value="{$data.score}" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3"><button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-open"></i>保存</button></div>
                <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="glyphicon glyphicon-repeat"></i>重置</a></div>
            </div>
        </form>
    </div>
    
</div>

</div>
<script> 

//    $("#custom").click(function() {
//     $("[data-toggle='popover']").popover({
//         html:true,
//     });
// });

    //使用on事件,将整个document做为选择器.
    //注意,在这里的选择器,必须是已经存在的,不能是后期生成的.
    //.project做为document的子元素出现,绑定了change事件.等同于onChange 
    $(document).on("change",".project",function(){
    var id = $(this).children('option:selected').attr('value');//获取点击select下拉菜单的idis
    var $this = $(this);
    //alert($(this).children('option:selected').attr('data-id'));
    $("#pid").attr('value',id);
    //获取最后一次点击所选的id（作为添加的项目的pid存库）
    //alert($("#pid").attr('value'));
    var url = "{$url}?id="+id;
    $.get(
        url,
        function(data){ 
            var index = $this.parents(".select:eq(0)").index()-1;
            $(".select:gt("+index+")").remove();
            if (data.status=="success") {
                // console.log("success");
                $this.parents(".select").after(data.data);
            } 

            //$(".select:last").after(data);
        }); 
});

    $("#dataModel").change(function(){
        //获取点击的value值
        //显示对应的数据模型

        var id = $(this).children('option:selected').attr('data-value');
        $("."+id).show(100);
    });
    function hide(){
        $(".tab_1").hide(100);
    }
</script>