<section class="content-header">
    <h1>
        类别管理
        <small>类别管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li>教科研设置</li>
        <li class="active">类别管理</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <div class="print"><a href="{:U('ScientificParameter/Index/add')}" class="btn btn-primary" ><i class="fa fa-plus-square"></i>添加根类别</a></div>
                    </div>
                    <!-- Table -->
                    <div class="box-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>类别名</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>教研</td>
                                    <td>
                                        <a class="btn btn-sm btn-success"  href="{:U('ScientificParameter/Index/add')}" ><i class="fa fa-plus-square"></i>添加子类别</a>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>|--论文</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"  onclick="location = '{$url['addSon']}'" ><i class="fa fa-plus-square"></i>添加子类别</button>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>|--|--A类论文</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"  onclick="location = '{$url['addSon']}'" ><i class="fa fa-plus-square"></i>添加子类别</button>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>|--|--|--I区</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"  onclick="location = '{$url['addSon']}'" ><i class="fa fa-plus-square"></i>添加子类别</button>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>|--|--|--II区</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"  onclick="location = '{$url['addSon']}'" ><i class="fa fa-plus-square"></i>添加子类别</button>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>|--|--|--III区</td>
                                    <td>
                                        <button class="btn btn-sm btn-success"  onclick="location = '{$url['addSon']}'" ><i class="fa fa-plus-square"></i>添加子类别</button>
                                        <button class="btn btn-sm btn-primary"  onclick="location = '{$url['editMenu']}'"><i class="fa fa-pencil"></i>编辑</button>
                                        <button class="btn btn-sm btn-danger"  onclick="location = '{}'"><i class="fa fa-times"></i>删除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>