<section class="content-header">
    <h1>
        项目管理
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="">教科研设置</a></li>
        <li class="active">项目管理</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>科研</td>
                                <td>
                                    <a href="{:U('ScientificParameter/Index/addProject')}"><button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>设置</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                </td>
                                
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>|--论文</td>
                                <td>
                                    <a href="{:U('ScientificParameter/Index/addProject')}"><button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>设置</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>|--|--A类论文</td>
                                <td>
                                    <a href="{:U('ScientificParameter/Index/addProject')}"><button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>设置</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>|--|--|--I区</td>
                                <td>
                                    <a href="{:U('ScientificParameter/Index/addProject')}"><button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>设置</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>|--|--|--III区</td>
                                <td>
                                    <a href="{:U('ScientificParameter/Index/addProject')}"><button class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>设置</button></a>
                                    <a href=""><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2 <span class="sr-only"></span></a></li>
                        <li><a href="#">3 <span class="sr-only"></span></a></li>
                        <li><a href="#">4 <span class="sr-only"></span></a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
