<section class="content-header">
    <h1>
        岗位管理
        <small>添加岗位</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{:U('index')}">系统设置</a></li>
        <li>岗位管理</li>
        <li class="active">添加岗位</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">添加岗位</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{:U('addOk')}">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">岗位名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="inputEmail3" placeholder="岗位名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">岗位描述</label>
                            <div class="col-sm-4">
                                <textarea name = "remarks" class="form-control" rows="3">{$roleInfo.remarks}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-saved"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>