<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button class="btn btn-info" onclick="location='{:U("PositionManagement/Index/add")}'">添加岗位</button>
                    </div>
                <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>岗位名称</th>
                                <th>岗位描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>院长</td>
                                <td>学院院长</a></td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{:U("PositionManagement/Index/add")}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>系主任</td>
                                <td>学院系主任</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{:U("PositionManagement/Index/add")}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr class="warning">
                                <td>3</td>
                                <td>办公室主任</td>
                                <td>系办公室主任</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{:U("PositionManagement/Index/add")}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>教师</td>
                                <td>学院教师</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{:U("PositionManagement/Index/add")}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2 <span class="sr-only"></span></a></li>
                        <li><a href="#">3 <span class="sr-only"></span></a></li>
                        <li><a href="#">4 <span class="sr-only"></span></a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

