	<a href="{:U('add?p=' .I('get.p'))}">添加</a>
	<table>
		<tr>
			<td>序号</td>
			<td>数据模型名</td>
			<td>描述</td>
			<td>类型</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
		<foreach name="dataModels" item="value">
		<tr>
			<td>{++$i}</td>
			<td><a href="{:U("DataModel/Index/detail?id=$value[id]&p=" . I('get.p'))}">{$value[name]}</a></td>
			<td>{$value[description]}</td>
			<td><eq name="value.type" value="1">基础模型<else/>普通模型</eq></td>
			<td><eq name="value.state" value="0">正常<else/>冻结</eq></td>
			<td><a href="{:U("DataModel/Index/detail?id=$value[id]&p=" . I('get.p'))}">扩展信息</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U("DataModel/Index/edit?id=$value[id]&p=" . I('get.p'))}">修改</a>&nbsp;&nbsp;<a href="{:U("delete?id=$value[id]&p=" . I('get.p'))}">删除</a></td>
		</tr>
		</foreach>
	</table>

	<Yunzhi:page totalCount="totalCount"></Yunzhi:page>