<section class="content-header">
    <h1>
        系统设置
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label>系统名称</label></div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right"/>
                                </div><!-- /.input group -->
                            </div>
                        </div>
                    </div><!-- /.form group -->
                    
                    <!-- Date range -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label>考核起始日期</label></div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" placeholder="2015/05/01"/>
                                </div><!-- /.input group -->
                            </div>
                        </div>
                    </div><!-- /.form group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label>考核终止日期</label></div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" placeholder="2015/05/01"/>
                                </div><!-- /.input group -->
                            </div>
                        </div>
                    </div><!-- /.form group -->

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label>是否允许试算</label></div>
                            <div class="col-md-1">
                                <select class="form-control">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- /.form group -->
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label>是否允许查看其他人信息</label></div>
                            <div class="col-md-1">
                                <select class="form-control">
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- /.form group -->
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label for="exampleInputFile">上传绩效说明文档</label></div>
                            <div class="col-md-4">
                                <input id="exampleInputFile" type="file">
                            </div>
                        </div>
                    </div><!-- /.form group -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved"></i>保存</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>
