<section class="content-header">
    <h1>教学建设业绩<small>添加教学建设</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>教学建设业绩</a></li>
        <li class="active">添加教学建设</li>
    </ol>
</section>
<div class="container">
<div class="row box box-primary">
    <div class="col-md-12 box-header">
        <i class="fa fa-inbox"></i>
        <h3 class="box-title">添加教学建设</h3>
    </div><!-- /.box-header -->
    <div class="col-md-12 box-body">
        <!-- Date range -->
        <div class="row">
        <div class="col-md-3 form-group">
           <select class="selectpicker form-control">
        <option>专业建设</option>
        <option>课程建设</option>
        <option>教学队伍</option>
        <option>课程建设</option>
        <option>教学过程质量评价</option>
        <option>实验室建设</option>
        <option>教学队伍</option>
        <option>实践教学基地建设</option>
        <option>其他教学建设</option>
    </select><!-- /.input group -->
        </div><!-- /.form group -->
        </div>
    
        <div class="row height-control"></div>
        <div class="row">
<div class="col-md-3 form-group">
           <select class="selectpicker form-control">
        <option>国家级特色专业建设</option>
        <option>国家级精品视频公开课</option>
        <option>校外实习基地建设</option>
        <option>考试课命题阅卷</option>
    </select><!-- /.input group -->
        </div><!-- /.form group -->
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">明细</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
            </div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">是否立项</span>
            <select class="selectpicker form-control">
                    <option>是</option>
                    <option>否</option>                  
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队人员姓名</span>
                     <select class="selectpicker form-control js-example-basic-multiple">
                         <option>张三</option>
                         <option>李四</option>
                         <option>王五</option>
                         <option>张四</option>
                         <option>张五</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                     <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                 </div>
             </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">是否验收</span>
            <select class="selectpicker form-control">
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队人员姓名</span>
                     <select class="selectpicker form-control js-example-basic-multiple">
                         <option>张三</option>
                         <option>李四</option>
                         <option>王五</option>
                         <option>张四</option>
                         <option>张五</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                     <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                 </div>
             </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">是否审批</span>
            <select class="selectpicker form-control">
                    <option>是</option>
                    <option>否</option>                  
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队人员姓名</span>
                     <select class="selectpicker form-control js-example-basic-multiple">
                         <option>张三</option>
                         <option>李四</option>
                         <option>王五</option>
                         <option>张四</option>
                         <option>张五</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                     <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                 </div>
             </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">是否建设</span>
            <select class="selectpicker form-control">
                    <option>是</option>
                    <option>否</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队人员姓名</span>
                     <select class="selectpicker form-control js-example-basic-multiple">
                         <option>张三</option>
                         <option>李四</option>
                         <option>王五</option>
                         <option>张四</option>
                         <option>张五</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3 form-group">
                 <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">团队分数占比</span>
                     <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                 </div>
             </div>
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">个数</span>
            <select class="selectpicker form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row"> 
            <div class="col-md-2 form-group">
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">班级数</span>
            <select class="selectpicker form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3"><a href="" class="btn btn-primary" ><i class="glyphicon glyphicon-saved"></i>保存</a></div>
            <div class="col-md-1"><a href="" class="btn btn-warning" ><i class="glyphicon glyphicon-repeat"></i>重置</a></div>
        </div>
    </div>
    </div>
</div>
<script>
    $(".js-example-basic-multiple").select2();
</script>

