<section class="content-header">
    <h1>
        教学建设
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        
        <li class="active">教学建设</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div><!-- /.box-header -->
                <div class="row">  
                    <div class="col-md-2">
                        <a href="{:U('TeachingConstruction/Index/add')}" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-plus"></i>添加教学建设</a>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目类别</th>
                                <th>内容</th>
                                <th>学期</th>
                                <th>分值</th>
                                <th>明细</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>专业建设</td>
                                <td>国家级特色专业建设</td>
                                <td>2014.3-2014.7</td>
                                <td>1000</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>课程建设</td>
                                <td>国家级精品视频公开课</td>
                                <td>2014.3-2014.7</td>
                                <td>800</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>教学队伍</td>
                                <td>国家级教学团队</td>
                                <td>2014.3-2014.7</td>
                                <td>1800</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>承办学生专业、技能竞赛</td>
                                <td>承办各级专业、技能竞赛</td>
                                <td>2014.3-2014.7</td>
                                <td>400</td>
                                <td>国家级竞赛</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                              <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
