
<section class="content-header">
    <h1>
        报表管理
        <small>报表管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">报表管理</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="print"><a href="" class="btn btn-primary" ><i class="fa  fa-sign-out"></i>导出报表</a></div>
                <div class="input-group selectionperiod">
                    <span class="input-group-addon" id="basic-addon1">选择周期</span>
                    <select class="selectpicker form-control">
                        <option>2014年7月7日-2015年7月7日</option>
                        <option>2013年7月7日-2014年7月7日</option>
                        <option>2012年7月7日-2013年7月7日</option>
                        <option>2011年7月7日-2012年7月7日</option>
                        <option>2010年7月7日-2011年7月7日</option>
                    </select>
                </div>
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>项目名称</th>
                                <th>项目类型</th>
                                <th>创建时间</th>
                                <th>创建人</th>
                                <th>审核状态</th>
                                <th>审核意见</th>
                                <th>完成时间</th>
                                <th>得分</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>中国社会科学论文...</td>
                                <td>科研-学术论文-类别一-SCI-I区</td>
                                <td>2015年5月7日</td>
                                <td>王小红</td>
                                <td>已通过</td>
                                <td>张三2015年7月3日10:41：通过<br>
                                    李四2015年7月7日10:41：通过
                                </td>
                                <td>2015年7月6日</td>
                                <td>100</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- /.box -->
        </div>
</section>
{$css}

