<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form id="demoForm" name="myform" class="form-horizontal" action="{$submitUrl}" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">角色名</label>
                            <div class="col-sm-4">
                                <input name="name" class="form-control" id="name" value="{$roleInfo.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remarks" class="col-sm-2 control-label">角色描述</label>
                            <div class="col-sm-4">
                                <textarea name = "remarks" class="form-control" rows="3">{$roleInfo.remarks}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">权限</label>
                            <div class="col-sm-6">
                                <div class=" role" id="unsetList"s>
                                <foreach  name="permissionList" item = "value">
                                     <div class="row title ">
                                        <input class="{$value.id}" name="{$value.id}"type="checkbox" />
                                        <lable>{$value.title}</lable>
                                    </div>
                                    <if condition="$value._son != null">  
                                        <foreach name="value._son" item="son">
                                            <div class="row subtitle">
                                                <input class="{$son.id}" name="{$son.id}" type="checkbox" />
                                                <lable>{$son.title}</lable>
                                            </div>
                                                <if condition="$son._son != null">
                                                <div class="row subtitle">
                                                        <foreach name="son._son" item="grandson">
                                                            <div class=col-sm-4>
                                                            <input class="{$grandson.id}" name="{$grandson.id}" type="checkbox" />
                                                            <lable>{$grandson.title}</lable>
                                                            </div>
                                                        </foreach>
                                                </div>
                                            </if>
                                        </foreach>
                                    </if>
                                </foreach>
                                <h5><input type="checkbox" class="selectAll" data-value="unsetList" id="unset"/><label for="unset">全选/反选</label></h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-saved"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{$js}
{$css}

