<section class="content-header">
    <h1>
        角色管理
        <small>添加角色</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{:U('index')}">角色管理</a></li>
        <li class="active">添加角色</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">添加角色</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{:U('addOk')}">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">角色名</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="inputEmail3" placeholder="角色名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">角色描述</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">角色</label>
                            <div class="col-sm-6 role">
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>菜单管理</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>删除</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>编辑</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加子菜单</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加一级菜单</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>系统设置</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <input type="checkbox" />
                                        <lable>部门管理</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>删除</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>编辑</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加部门</lable>
                                        </div>
                                    </div>
                                    <div class="row subtitle">
                                        <input type="checkbox" />
                                        <lable>角色管理</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>删除</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>编辑</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加角色</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>我的工作</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>审批</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>我的项目</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加教科研项目</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>个人中心</lable>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>教科研设置</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加根类别</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加子类别</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>编辑</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>删除</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>教学工作量</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加教学工作</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>教科研业绩</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加教科研项目</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>服务育人</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加服务育人业绩</lable>
                                        </div>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>学科业绩</lable>
                                    </div>
                                    <div class="row title ">
                                        <input type="checkbox" />
                                        <lable>审批流程管理</lable>
                                    </div>
                                    <div class="row title">
                                        <input type="checkbox" />
                                        <lable>教工管理</lable>
                                    </div>
                                    <div class="row subtitle">
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>删除</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>编辑</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>添加教工</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>重置密码</lable>
                                        </div>
                                    </div>
                                    <div class="row title">
                                        <input type="checkbox" />
                                        <lable>添加项目/类别</lable>
                                    </div>
                                    <div class="row title">
                                        <input type="checkbox" />
                                        <lable>项目设置</lable>
                                    </div>
                                    <div class="row title">
                                        <input type="checkbox" />
                                        <lable>数据模型</lable>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-open"></i>确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
<style>
    .role{
        border: 1px #cccccc solid;
    }
    .title{
        background-color: #D3D3D3;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .subtitle{
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>