<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary" onclick="location='{:U('addRole')}'"><i class="glyphicon glyphicon-plus"></i>添加角色</button>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>角色名</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                                 <foreach name="roleList" item="value" key="key">
                                    <tr class="">
                                        <td>{$key+1}</td>
                                        <td>{$value.name}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" onclick="location='{$value._url.edit}'"><i class="fa fa-pencil"></i>编辑</button>
                                            <button class="btn btn-sm btn-danger" onclick="location='{$value._url.delete}'"><i class="fa fa-trash-o"></i>删除</button>
                                        </td>
                                    </tr>
                                    </foreach>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only"></span></a></li>
                    <li><a href="#">3 <span class="sr-only"></span></a></li>
                    <li><a href="#">4 <span class="sr-only"></span></a></li>
                    <li>
                        <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>    
</section>

