
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <form class="form-horizontal" id="demoForm" action="{$url}" method="post">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-4">
                                <input name="username" class="form-control" placeholder="教工名" value="{$staffInfo.username}">
                            </div>
                            <p class="bitian col-sm-1">*</p>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-4">
                                <input name="name" class="form-control" placeholder="姓名" value="{$staffInfo.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-4">
                                <input name="email" class="form-control" id="" placeholder="邮箱" value="{$staffInfo.email}">
                                
                            </div>
                        </div>
                        <div class="row form-group team">
                            <label for="" class="col-sm-2 control-label">部门岗位</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <lable for="" id="next_examiner" class="input-group-addon">部门
                                            </lable>
                                            <select id="department" class="selectpicker form-control">
                                                <foreach  name="departmentPostList" item = "value">
                                                    <option value="{$value[id]}">{$value.name}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <lable for="inputEmail3" class="input-group-addon" id="basic-addon1">岗位</lable>
                                            <select id="post" class='selectpicker form-control'>
                                                    <foreach name = "departmentPostList['0']['_post']" item = "value">
                                                            <option value="{$value[id]}">{$value}</option>
                                                    </foreach>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <span id="plus" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='';" class="input-group-addon btn">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span id="minus" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='';"  class="input-group-addon btn"><span class="glyphicon glyphicon-minus"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">角色</label>
                            <div class="col-sm-6">
                                <div class=" role row">
                                <foreach  name="roleList" item = "value">
                                    <div class="col-sm-4">
                                        <input id="{$value.id}" name="{$value.id}"type="checkbox" />
                                        <lable>{$value.name}</lable>
                                    </div>
                                </foreach>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4">
                                <select class="selectpicker form-control">
                                    <option>正常</option>
                                    <option>冻结</option>
                                </select><!-- /.input group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-4">
                                <textarea name = "" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-saved"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
{$css}
{$js}