<section class="content-header">
    <h1>
        教工管理
        <small>添加教工</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{:U('index')}">教工管理</a></li>
        <li class="active">添加教工</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">添加教工</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{$url}" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-4">
                                <input name="username" class="form-control" id="inputEmail3" placeholder="教工名" value="{$staffInfo.username}">
                            </div>
                            <p class="bitian col-sm-1">*</p>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-4">
                                <input name="password" class="form-control" id="inputEmail3" placeholder="密码" value="{$staffInfo.password}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-4">
                                <input name="name" class="form-control" id="inputEmail3" placeholder="姓名" value="{$staffInfo.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-4">
                                <input name="email" class="form-control" id="inputEmail3" placeholder="邮箱" value="{$staffInfo.email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">部门</label>
                            <div class="col-sm-4">
                                <select id="department" class="selectpicker form-control">
                                    <foreach  name="departmentPostList" item = "value">
                                        <option value="departmentPostList[id]">{$value.name}</option>
                                    </foreach>
                                </select><!-- /.input group --> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">岗位</label>
                            <div class="col-sm-4">
                                <select class="selectpicker form-control">
                                    <foreach  name="departmentPostList[_post]" item = "value">
                                        <option>{$value}</option>
                                    </foreach>
                                </select><!-- /.input group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">角色</label>
                            <div class="col-sm-6">
                                <div class=" role row">
                                <foreach  name="roleList" item = "value">
                                    <div class="col-sm-4">
                                        <input id="{$value.id}" name="{$value.id}"type="checkbox" />
                                        <lable>{$value.name}</lable>
                                    </div>
                                </foreach>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4">
                                <select class="selectpicker form-control">
                                    <option>正常</option>
                                    <option>冻结</option>
                                </select><!-- /.input group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-4">
                                <textarea name = "" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-saved"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
{$css}
{$js}