<script type="text/javascript">
	$(document).ready(function() {
    var c = new Array();
    var c = eval('<?php echo json_encode($roleList);?>');
   for (var i=0;i<c.length;i++) {
        var k =c[i];
        $("#"+k).attr('checked','true');
    };
 });
$(document).on("change","#department",function(){
	 $("#post").empty();
	var department_id = $(this).children('option:selected').val();
	var departmentPostList = new Array();
    	var departmentPostList = eval(<?php echo json_encode($departmentPostList);?>);
    	var postList = departmentPostList[department_id]['_post'];
    	for (var key in postList) {
    		$("#post").append("<option>"+postList[key]+"</append>");
    	};

});
// alert('hello');
</script>