<script type="text/javascript">
//表单验证
    $(document).ready(function(){
        roleCheck();
        addDepartmentPost();
        $("#demoForm").validate({
            rules:{
                email:{
                    required:true,
                    email:true
                },
                username:{
                    required:true
                },
                name:{
                    required:true
                },
                password:{
                    required:true
                },
            },
        })
    });
var order = 0;
$(document).on("change",".department",function(){
	$("#post_" + currentOrder).empty();
    var currentOrder = $(this).attr("data-order");
	var department_id = $(this).children('option:selected').val();

	var departmentPostList = new Array();
    	var departmentPostList = eval(<?php echo json_encode($departmentPostList);?>);
            for (var i in departmentPostList) {
                if(departmentPostList[i]['id'] == department_id){
                    var postList = departmentPostList[i]['_post'];
                }
            };
        $("#post_"+ currentOrder).html("");
    	for (var key in postList) {
            
    		$("#post_"+ currentOrder).append("<option value="+key+">"+postList[key]+"</option>");
    	};
});
var data1 = "<div class='row form-group team'><label class='col-sm-2 control-label'></label><div class='col-sm-10'><div class='row'></div><div class='col-sm-4'><div class='input-group'><span for='inputEmail3' id='next_examiner' class='input-group-addon'>部门</span><select data-order='";
var data2 ="'  class='department selectpicker form-control'><foreach name='departmentPostList' item = 'value'><option value='{$value[id]}'>{$value.name}</option></foreach></select></div></div><div class='col-sm-4'><div class='input-group'><span for='inputEmail3' class='input-group-addon' id='basic-addon1'>岗位</span><select id='post_";
var data3 = "' class='selectpicker form-control'><foreach  name='departmentPostList[0][_post]' key='key' item='value'><option value='{$key}'>{$value}</option></foreach></select></div></div></div></div></div>";
$("#plus").click(function(){
    order++;
    data = data1+order+data2+order+data3;
    $(".team:last").after(data);
});
//减少团队人数
$("#minus").click(function(){
    order--;
    $(".team:gt(0):last").remove();
});

function roleCheck(){
    var c = new Array();
    var c = eval('<?php echo json_encode($hasRole);?>');
    for (var i=0;i<c.length;i++) {
        var k =c[i]['id'];

        $("#"+k).attr('checked','true');
    }
}
function addDepartmentPost(){
    //取现有的部门-岗位
    var hasDepartmentPost = new Array();
    var hasDepartmentPost = eval(<?php echo json_encode($userDepartmentPosts);?>);

    //显示出有几个部门-岗位的值
    for (var i = 0; i < hasDepartmentPost.length; i++) {
        //拼接主体select的字符
        var fream = getDepartmentPost(i);
        $("#department_post").append(fream);
        
        //拼接select的下拉选项的字符串
        var departmentOption = getDepartmentOption();
        $("#department_"+i).append(departmentOption);
        //alert(hasDepartmentPost[i]['department_id']);
        var postOption = getPostOption(hasDepartmentPost[i]['department_id']);
        $("#post_"+i).append(postOption);
    };  
  alert("hello");
}
//获得一个部门-岗位下拉框的html代码字符串
function getDepartmentPost(id){
    var fream = "<div class='row'><div class='col-sm-4'><div class='input-group'><lable for='' class='input-group-addon'>部门</lable><select class='department selectpicker form-control' id='department_"+id+"'></select></div></div><div class='col-sm-4'><div class='input-group'><lable for='inputEmail3' class='input-group-addon'>岗位</lable><select id='post_"+id+"' class='post selectpicker form-control'></select></div></div></div>";
    return fream;
}
//获取部门的下拉选项的html代码字符串
function getDepartmentOption(){
    var departmentPostList = new Array();
    var departmentPostList = eval(<?php echo json_encode($departmentPostList);?>);
    var departmentOption = "";
    for (var i = 0; i < departmentPostList.length; i++) {
        departmentOption += "<option value='"+departmentPostList[i]['id']+"'>"+departmentPostList[i]['name']+"</option>";
    };
    return departmentOption;
}
//获取岗位的下拉选项的html代码字符串
function getPostOption(departmentId){
    var departmentId = departmentId;
    var departmentPostList = new Array();
    var postList = new Array();
    var postOption = "";
    var departmentPostList = eval(<?php echo json_encode($departmentPostList);?>);
    for (var i = 0; i < departmentPostList.length; i++) {
        if(departmentPostList[i]['id'] == departmentId);
        var postList = departmentPostList[i]['_post'];
    };
    for (var key in postList) {
        postOption += "<option value='"+key+"'>"+postList[key]+"</option>";
    };
    return postOption;
}
</script>