<script type="text/javascript">
//表单验证
    $(document).ready(function(){
        roleCheck();
        $("#demoForm").validate({
            rules:{
                email:{
                    required:true,
                    email:true
                },
                username:{
                    required:true
                },
                name:{
                    required:true
                },
                password:{
                    required:true
                },
            },
        })
    });
var order = 0;
$(document).on("change",".department",function(){
	$("#post_" + currentOrder).empty();
    var currentOrder = $(this).attr("data-order");
	var department_id = $(this).children('option:selected').val();

	var departmentPostList = new Array();
    	var departmentPostList = eval(<?php echo json_encode($departmentPostList);?>);
            for (var i in departmentPostList) {
                if(departmentPostList[i]['id'] == department_id){
                    var postList = departmentPostList[i]['_post'];
                }
            };
        $("#post_"+ currentOrder).html("");
    	for (var key in postList) {
            
    		$("#post_"+ currentOrder).append("<option value="+key+">"+postList[key]+"</option>");
    	};
});
var data1 = "<div class='row form-group team'><label class='col-sm-2 control-label'></label><div class='col-sm-10'><div class='row'></div><div class='col-sm-4'><div class='input-group'><span for='inputEmail3' id='next_examiner' class='input-group-addon'>部门</span><select data-order='";
var data2 ="'  class='department selectpicker form-control'><foreach name='departmentPostList' item = 'value'><option value='{$value[id]}'>{$value.name}</option></foreach></select></div></div><div class='col-sm-4'><div class='input-group'><span for='inputEmail3' class='input-group-addon' id='basic-addon1'>岗位</span><select id='post_";
var data3 = "' class='selectpicker form-control'><foreach  name='departmentPostList[0][_post]' key='key' item='value'><option value='{$key}'>{$value}</option></foreach></select></div></div></div></div></div>";
$("#plus").click(function(){
    order++;
    data = data1+order+data2+order+data3;
    $(".team:last").after(data);
});
//减少团队人数
$("#minus").click(function(){
    order--;
    $(".team:gt(0):last").remove();
});

function roleCheck(){
    var c = new Array();
    var c = eval('<?php echo json_encode($hasRole);?>');
    for (var i=0;i<c.length;i++) {
        var k =c[i]['id'];

        $("#"+k).attr('checked','true');
    }
}
</script>