
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                    <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{$subUrl}" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">部门名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="name" id="inputEmail3" placeholder="部门" value="{$departmentInfo.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parent_id" class="col-sm-2 control-label">上级部门</label>
                            <div class="col-sm-4">
                                <select class="selectpicker form-control" name="parent_id">
                                    <option value="0">经管学院</option>
                                    <option value="0">经济系</option>
                                    <option value="0">管理系</option>
                                    <option value="0">办公室部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">部门描述</label>
                            <div class="col-sm-4">
                            <textarea class="form-control" rows="3" name="remarks">{$departmentInfo.remarks}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">岗位</label>
                            <div class="col-sm-6">
                                <div class="role">
                                    <div class="row">
                                        <foreach name="postList" item="value">
                                            <div class=col-sm-4>
                                                <input id="{$value.id}" name="{$value.id}" type="checkbox"  class="menu"/>
                                                <lable>{$value.name}</lable>
                                            </div>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
<script type="text/javascript">
$(document).ready(function() {
    var c = new Array();
    var c = eval('<?php echo json_encode($departmentPostInfo);?>');
   for (var i=0;i<c.length;i++) {
        var k =c[i]['post_id'];
        $("#"+k).attr('checked','true');
    };
 });
</script>
{$css}
