
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                    <button type="button" class="btn btn-info" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                    <form class="form-horizontal" action="{$subUrl}" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">部门名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="name" id="inputEmail3" placeholder="部门" value="{$departmentInfo.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parent_id" class="col-sm-2 control-label">上级部门</label>
                            <div class="col-sm-4">
                                <select class="selectpicker form-control" name="parent_id">
                                    <option value="0">经管学院</option>
                                    <option value="0">经济系</option>
                                    <option value="0">管理系</option>
                                    <option value="0">办公室部</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">部门描述</label>
                            <div class="col-sm-4">
                            <textarea class="form-control" rows="3" name="remarks">{$departmentInfo.remarks}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">岗位</label>
                            <div class="col-sm-6">
                                <div class="role">
                                    <div class="row">
                                        <div class=col-sm-4>
                                            <input type="checkbox"  class="menu"/>
                                            <lable>院长</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox"  class="menu"/>
                                            <lable>副院长</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>团委书记</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>团委副书记</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>经济系主任</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>经济系副主任</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>办公室主任</lable>
                                        </div>
                                        <div class=col-sm-4>
                                            <input type="checkbox" />
                                            <lable>办公室副主任</lable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i>确认</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</section>
{$css}
