<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button class="btn btn-info" onclick="location='{:U('addDepart')}'">添加部门</button>
                    </div>
                <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>部门名</th>
                                <th>部门描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <foreach name="departmentList" item="value" key="key">
                                    <tr>
                                        <td>{$key+1}</td>
                                        <td><php> 
                                            for( $level = 0; $level< $value['_level']; $level++)
                                            echo "|----";
                                            </php>
                                            {$value.name}</td>
                                        <td>{$value.remarks}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" onclick="location='{$value._url.editDepart}'"><i class="fa fa-pencil"></i>编辑</button>
                                            <button class="btn btn-sm btn-danger" onclick="location='{$value._url.delete}'"><i class="fa fa-trash-o"></i>删除</button>
                                        </td>
                                    </tr>
                                    </foreach>
                        </tbody>
                    </table>
                </div>
               <Yunzhi:page id="1111" name="name" totalCount="count">
               </Yunzhi:page>

            </div>
        </div>
    </div>
    
</section>

