<section class="content-header">
    <h1>
        部门管理
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="{:U('index')}">部门管理</a></li>
        <li class="active"></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-inbox"></i>
                    <h3 class="box-title">部门列表</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="panel-body">
                        <button class="btn btn-info" onclick="location='{$url['addDepart']}'">添加部门</button>
                    </div>
                <!-- Table -->
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>部门名</th>
                                <th>下属岗位</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>经管学院</td>
                                <td>教师、辅导员、系主任、办公室主任</a></td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{$url['editDepart']}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>|--经济系</td>
                                <td>教师、辅导员、系主任、办公室主任</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{$url['editDepart']}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr class="warning">
                                <td>3</td>
                                <td>|--|--办公部</td>
                                <td>教师、辅导员、系主任、办公室主任</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{$url['editDepart']}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>|--管理系</td>
                                <td>教师、辅导员、系主任、办公室主任</td>
                                <td>
                                <button class="btn btn-sm btn-primary" onclick="location='{$url['editDepart']}'" ><i class="fa fa-pencil"></i>编辑</button>
                                <button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2 <span class="sr-only"></span></a></li>
                        <li><a href="#">3 <span class="sr-only"></span></a></li>
                        <li><a href="#">4 <span class="sr-only"></span></a></li>
                        <li>
                            <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

