
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive">
                    <h2>已有用户</h2>
                    <table class="table">
                    <thead>
                        <tr class="active">
                                <th>用户编号</th>
                                <th>用户名</th>	
                                <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                                <td>1</td>
                                <td>张三</td>
                                <td>
                                <button class="btn btn-danger" type="submit" onclick="location='{:U('movePostPeopleOk')}'"><i class="fa fa-trash-o"></i>移除用户</button>
                                </td>
                        </tr>
                        <tr>
                                <td>2</td>
                                <td>张三</td>
                                <td>
                                <button class="btn btn-danger" type="submit" onclick="location='{:U('movePostPeopleOk')}'"><i class="fa fa-trash-o"></i>移除用户</button>
                                </td>
                        </tr>
                        <tr class="warning">
                                <td>3</td>
                                <td>张三</td>
                                <td>
                                <button class="btn btn-danger" type="submit" onclick="location='{:U('movePostPeopleOk')}'"><i class="fa fa-trash-o"></i>移除用户</button>
                                </td>
                        </tr>
                        <tr>
                                <td>4</td>
                                <td>张三</td>
                                <td>
                                <button class="btn btn-danger" type="submit" onclick="location='{:U('movePostPeopleOk')}'"><i class="fa fa-trash-o"></i>移除用户</button>
                                </td>
                        </tr>
                        </tbody>
                </table>
    <nav>
            <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only"></span></a></li>
            <li><a href="#">3 <span class="sr-only"></span></a></li>
            <li><a href="#">4 <span class="sr-only"></span></a></li>
            <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
            </li>
            </ul>

    </nav>

    <h2>其他用户</h2>
    <table class="table">
    <thead>
        <tr class="active">
                    <th>用户编号</th>
                    <th>用户名</th>    
                    <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
                    <td>1</td>
                    <td>张三</td>
                    <td>
                    <button class="btn btn-primary" type="submit" onclick="location='{:U('addPostPeopleOk')}'"><i class="fa  fa-check-circle-o"></i>添加用户</button>
                    </td>
            </tr>
            <tr>
                    <td>2</td>
                    <td>张三</td>
                    <td>
                    <button class="btn btn-primary" type="submit" onclick="location='{:U('addPostPeopleOk')}'"><i class="fa  fa-check-circle-o"></i>添加用户</button>
                    </td>
            </tr>
            <tr class="warning">
                    <td>3</td>
                    <td>张三</td>
                    <td>
                    <button class="btn btn-primary" type="submit" onclick="location='{:U('addPostPeopleOk')}'"><i class="fa  fa-check-circle-o"></i>添加用户</button>
                    </td>
            </tr>
            <tr>
                    <td>4</td>
                    <td>张三</td>
                    <td>
                    <button class="btn btn-primary" type="submit" onclick="location='{:U('addPostPeopleOk')}'"><i class="fa  fa-check-circle-o"></i>添加用户</button>
                    </td>
            </tr>
    </tbody>
</table>
    <nav>
            <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only"></span></a></li>
            <li><a href="#">3 <span class="sr-only"></span></a></li>
            <li><a href="#">4 <span class="sr-only"></span></a></li>
            <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
            </li>
            </ul>

    </nav>
                </div>
            </div>
        </div>
    </div>    
</section>
